.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.active {
  color: rgb(30 64 175);
  transition: 0.3s ease background-color;
}

@keyframes App-logo-spin {
 from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveImage {
  from{
    transform: translateX(-200%);
  }
  to {
    transform: translateX(calc(100vw));
  }
}
#container{
  animation: moveImage 5s linear infinite;
  overflow: hidden;
}

#pos-coin {
  animation: App-logo-spin 3s linear infinite;
}





/* The mobile menu */
@media (max-width: 576px) {
  .content {
      padding-top: 51px;
  }
}

@media (min-width: 577px) {
.pt-scroll {
  padding-top: 51px;
}

.nav-sticky {
  position: fixed!important;
  min-width: 100%;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  transition: all .25s ease-in;
  z-index: 1;
}
}

/* HAMBURGER MENU */

.hamburger {
cursor: pointer;
width: 48px;
height: 48px;
transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
content: '';
position: absolute;
width: 24px;
height: 2px;
background: #000;
transform: rotate(0);
transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
background: #333;
}

.hamburger__top-bun {
transform: translateY(-5px);
}

.hamburger__bottom-bun {
transform: translateY(3px);
}

.open {
transform: rotate(90deg);
transform: translateY(-1px);
}

.open .hamburger__top-bun {
transform:
  rotate(45deg)
  translateY(0px);
}

.open .hamburger__bottom-bun {
transform:
  rotate(-45deg)
  translateY(0px);
}